:root {
  --color-gradient--1: linear-gradient(31deg, #003f82 0%, #0058b5 40%, #0077f5 100%);
  --color-bright--1: #0077f5;

  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
  --color-fade--1: rgb(100, 100, 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  /* overscroll-behavior-y: none; */

  background: var(--color-gradient--1);
  padding: 2.5rem;

  display: flex;

  user-select: none;
}

button, input, textarea {
  font-family: 'Manrope', sans-serif;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* MODAL */
.w-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgb(80, 0, 0);
  padding: 15px;
  border: 2px solid #ff0000;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 5000;
  /* transition: 400ms; */
}
.w-modal.hidden{
  display: none;
}
.w-modal .cls-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 300ms;
}
.w-modal .cls-btn:hover {
  cursor: pointer;
  /* color: #0077f5; */
}
.w-modal h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.w-modal p {
  font-size: 18px;
  margin-bottom: 15px;
}
.w-modal .btn-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-modal button {
  background-color: var(--color-dark--1);
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 300ms;
}
.w-modal button:hover {
  background-color: var(--color-dark--2);
}
.w-modal .ok-btn {
  background-color: #008446;
}
.w-modal .ok-btn:hover {
  background-color: #009851;
}

.w-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 4000;
}
.w-overlay.hidden{
  display: none;
}

/* SIDEBAR */
.sidebar {
  /* width: auto; */
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 20px;
}

/* MAP */
#map {
  position: relative;
  /* z-index: 0; */
  flex: 1;

  height: 100%;
  background-color: var(--color-light--1);
  border-radius: 0 20px 20px 0;
}
#map .zoom-out{
  position: absolute;
  z-index: 3000;
  padding: 5px;
  color: var(--color-bright--1);
  border-radius: 10px;
  /* background-color: red; */
  top: 10px;
  right: 10px;
}
#map .zoom-out:hover {
  background-color: #74747477;
  cursor: zoom-out;
}

@media (max-width: 750px){
  body{
    flex-direction: column;
    /* overscroll-behavior-y: auto; */
  }
  .sidebar{
    height: fit-content;
    border-radius: 20px 20px 0 0;
    /* background-color: red; */
  }
  #map {
    border-radius: 0 0 20px 20px;
  }
}

.logo {
  /* height: 5.2rem; */
  width: 250px;
  align-self: center;
  margin-bottom: 4rem;
  -webkit-user-drag: none;
}

.dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content{
  position: absolute;
  top: -4px;
  left: -8px;
  width: 140px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark--2);
  font-size: 20px;
  font-weight: bold;
  z-index: 3;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  box-shadow: 3px 3px 15px rgb(36, 36, 36);
}
.dropdown-content.hidden{
  display: none;
}

.dd-item {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 400ms;
}
.dd-item:hover {
  background-color: var(--color-bright--1);
  cursor: pointer;
}
#del:hover{
  background-color: #f51900;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* backdrop-filter: blur(1px); */
  z-index: 2;
}
.overlay.hidden {
  display: none;
}

.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 15px 15px;
  border-bottom: 3px solid var(--color-light--1);
}

.header .sort-container {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-bottom: 5px;
  /* justify-content: space-between; */
}

.header .srt-btn{
  /* font-weight: bold;
  font-style: italic;
  color: var(--color-light--1); */
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-dark--2);
  line-height: 0;
  cursor: pointer;
  transition: 400ms;
}
.header .srt-btn.selected{
  background-color: #d54f0b;
}
.header .srt-btn:hover {
  background-color: var(--color-bright--1);
}
.header .normal {
  font-size: 20px;
}
.header .mini {
  font-size: 12px;
}

.workouts {
  list-style: none;
  height: 100%;
  position: relative;
  /* margin: 0 10px; */
  /* background-color: grey; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
  padding: 0 15px;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.info{
  /* background-color: red; */
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-fade--1);
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
.info.hidden{
  display: none;
}

.workout-list {

}

.workout {
  position: relative;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  /* cursor: pointer; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
  transition: all 0.5s, transform 1ms;
}
.workout:hover {
  box-shadow: 3px 3px 15px rgb(36, 36, 36);
}

.workout.fade {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}
.workout.hidden{
  display: none;
}

.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  top: 15px;
  right: 15px;
}

.workout .material-symbols-outlined {
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(131, 131, 131);
  font-size: 20px;
  cursor: pointer;
  transition: 400ms;
}

/* .delete-icon {
} */
.edit-icon:hover {
  color: #2a6ebc;
  background-color: #11255d;
}
.delete-icon:hover {
  color: #c63333;
  background-color: #492828;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  /* background-color: var(--color-dark--2); */
  background-color: #4e3d6f;
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  /* height: 9.25rem; */
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}
.form.slowslide {
  transition: all 1.3s, transform 1ms;
}

.material-symbols-outlined.close-form-btn {
  position: absolute;
  top: 5px;
  right: 19px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.305);
  cursor: pointer;
  transition: 300ms;
}
.close-form-btn:hover {
  background-color: rgba(255, 0, 0, 0.602);
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__input--type {
  font-size: 12px;
  padding-left: 2px;
}

.form__btn {
  /* width: 100%; */
  grid-column: 1 / -1;
  margin-top: 10px;
  padding: 5px 0px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  transition: 300ms;
  cursor: pointer;
}
.form__btn:hover {
  background-color: var(--color-bright--1);
  color: #ffffff;
}
.form__btn:active {
  transform: scale(1.1);
}

.copyright {
  position: relative;
  top: 20px;
  margin-top: auto;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-light--1);
}

.portfolio-link:link,
.portfolio-link:visited {
  text-decoration: none;
  color: var(--color-light--1);
  transition: all 0.2s;
}

.portfolio-link:hover,
.portfolio-link:active {
  color: var(--color-bright--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

/* ANCHOR LEAFLET CORE STYLES */
.leaflet-touch .leaflet-bar a {
  border: none;
  background-color: #00000000;
  color: var(--color-bright--1);
  font-size: 30px;
  /* padding: 15px; */
  transition: 300ms;
}
.leaflet-touch .leaflet-bar a:hover {
  background-color: #74747477;
  /* color: var(--color-brand--2); */
}
.leaflet-bottom {
  display: none;
}